---
layout: default
---

<div class="blog post">
    <h1>{{ page.title }}</h1>
    <p>{{ page.date | date: "%B %Y" }}</p>

    {{content}}

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'rickharrison';
        var disqus_identifier = '{{ page.id }}';
        var disqus_title = '{{ page.title }}';
        var disqus_url = 'http://rickharrison.me{{ page.url | remove: '.html' }}';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</div>
