/*
 * Reset
 */

html, body, ul, ol, li, form, fieldset, legend {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; font-weight: normal; }

li { list-style: none; }

/*
 * Main
 */

body {
    background: #f2f2f2;
    font-family: "proxima-nova", 'Helvetica Neue', Helvetica-Neue, Helvetica, Arial, sans-serif;
}

p {
    color: #4d4d4d;
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 30px 0;
}

#header {
    background: #E2E2E2;
    border-bottom: 1px solid #CBCBCB;
    height: 80px;
    padding: 20px 0px 0px 0px;
}

#border {
    background: #FFFFFF;
    display: block;
    height: 1px;
    width: 100%;
}

/* Headers */

h1 {
    background: url('../images/logo.png');
    height: 60px;
    margin: auto;
    text-indent: -9999px;
    width: 270px;
}

h2  {
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    margin-bottom: 25px;
}

h2 span {
    background: #444444;
    padding: 5px 10px;
}

h3 {
    color: #333333;
    font-size: 18px;
    line-height: 32px;
    margin:0 0 0px 0;
}

h3.opensource {
    background: #FF4200;
    color: #FFFFFF;
    display: inline;
    font-weight: normal;
    padding: 2px 6px;
}

/* Menu */

#menu {
    padding-bottom: 10px;
    margin-bottom: 0px;
    text-align: center;
}

#menu span.menu_spacer {
    border-left: 1px solid #CBCBCB;
    border-right: 1px solid #FFFFFF;
    width: 1px;
}

#menu a, #menu a:visited {
    border-bottom: 1px dotted #444444;
    color: #1F93D0;
    font-size: 20px;
    margin: 0px 20px;
    text-decoration: none;
}

#menu a:hover, #menu a:active {
    color: #444444;
    text-decoration: none;
}

/* Sections */

.section   {
    margin: 30px auto 50px auto;
    width: 961px;
}

.highlight {
    background: #FF4200;
    color: #FFFFFF;
    padding: 1px 5px;
}

.opensource-list {
    padding-top: 10px;
}

/* Item Lists */

.item_list {
    display: block;
    margin: 0px 0px 15px 0px;
}

.item_list li {
    float: left;
    margin: 0px 0px 0px 24px;
    width: 222px;
}

.item_list li.item_list_first {
    margin: 0px;
}

.item_list p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
}

.item_list p.media-links {
    line-height: 22px;
}

a.screenshot, a.screenshot:visited {
    background: #E2E2E2;
    display: block;
    height: 159px;
    margin: 0px 0px 6px 0px;
    padding: 5px;
    width: 212px;
}

a.screenshot:hover, a.screenshot:active {
    background: #444444;
}

.item_list_spacer {
    background: #CBCBCB;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 0 auto 30px auto;
    width: 640px;
}

/* Links */

p a:link, p a:visited {
    border-bottom: 1px dotted #444444;
    color: #FF4200;
    padding:2px;
    text-decoration: none;
}

p a:hover, p a:active {
    background: #444444;
    color: #FFFFFF;
    text-decoration: none;
}

/* Pygments */

.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */
